div.id-check-container {
    font-family: sans-serif;
    min-width: 300px;
    margin: 50px auto;
  
    header {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #143055;
      color: white;
      padding: 5px;
      border-radius: 3px;
    }
  
    main {
      display: flex;
      justify-content: center;
      padding: 36px 36px;
    }
  
    section.actions {
      width: 500px;
      display: flex;
      flex-direction: column;
    }
  
    div.question {
      width: 100%;
      min-width: 150px;
      div.option {
        padding: 10px 0;
        margin: 10px 0;
        text-align: center;
        background-color: white;
        color: black;
        border: 2px solid black;
      }
      div.option.selected {
        background-color: #11C8CE;
      }
    }
  }